<div class="clear"></div>
<div id="footall">
  <div id="foot">
  
  <div id="fanyi">
    <script language="javascript" src="{$public}static/js/lang.js"></script>
      <a href='javascript:translator("en|zh-CN")'><img height="14" src="{$public}static/picture/ico_china.jpg" width="20" align="absMiddle" border="0"> Chinese</a>
      <a href='javascript:translator("en|de")'><img height="14" src="{$public}static/picture/ico_deutsch1.gif" width="20" align="absMiddle" border="0"> deutsch</a>
      <a href='javascript:translator("en|es")'><img height="14" src="{$public}static/picture/ico_espanol.gif" width="20" align="absMiddle" border="0"> Espanol</a>
      <a href='javascript:translator("en|fr")'><img height="14" src="{$public}static/picture/ico_francies.gif" width="20" align="absMiddle" border="0"> Francais</a>
      <a href='javascript:translator("en|it")'><img height="14" src="{$public}static/picture/ico_italino.gif" width="20" align="absMiddle" border="0"> Italiano</a>
      <a href='javascript:translator("en|pt")'><img height="14" src="{$public}static/picture/ico_portgues.gif" width="20" align="absMiddle" border="0"> Portugues</a>
      <a href='javascript:translator("en|ja")'><img height="14" src="{$public}static/picture/ico_japan.jpg" width="20" align="absMiddle" border="0"> Japanese</a>
      <a href='javascript:translator("en|ko")'><img height="14" src="{$public}static/picture/ico_korea.jpg" width="20" align="absMiddle" border="0"> Korean</a>
      <a href='javascript:translator("en|ar")'><img height="14" src="{$public}static/picture/ico_arabia.jpg" width="20" align="absMiddle" border="0"> Arabic</a>
      <a href='javascript:translator("en|ru")'><img height="14" src="{$public}static/picture/ico_russia.jpg" width="20" align="absMiddle" border="0"> Russian</a>
  </div>
    <a href="{PURL()}" title="{$langs.home}">{$langs.home}</span></a> |
    <a href="{PURL('products')}" title="{$langs.randproduct}">{$langs.randproduct}</span></a> |
    <a href="{PURL('articles?cat=2')}" title="{$langs.news}">{$langs.news}</span></a> |
    <a href="{PURL('articles?cat=1')}" title="{$langs.qua}">{$langs.qua}</span></a> |
    <a href="{PURL('about?id=12')}" title="{$langs.guestbook}">{$langs.guestbook}</span></a> |
    <a href="{PURL('about?id=2')}" title="{$langs.contactus}">{$langs.contactus}</span></a><br>
  {$copyright.content}
  <div class="link_zi">
  
  <a href="javascript:;" target="_blank">Yahoo</a> |
  
  <a href="javascript:;" target="_blank">Google</a> |
  <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278734539'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/stat.php%3Fid%3D1278734539%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
  
  </div>
  </div>
  </div>
  
  
  </body>
  </html>
  